* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.fullscreen {
  min-height: 100vh;
}

.parallax1 {
  background-image: url(photo4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  display: inline-block;
  padding: 8px;
  font-size: 44px;
  background-color: white;
  border-radius: 10px;
  text-transform: uppercase;
}

.parallax2 {
  background-image: url(photo5.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.textContainer {
  min-height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.important {
  color: red;
}